# =========================
# Python / FastAPI backend
# =========================
backend/.venv/
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env

# =========================
# Node / React frontend
# =========================
frontend/node_modules/
node_modules/
dist/

# =========================
# VS Code / OS files
# =========================
.vscode/
.DS_Store
Thumbs.db