.container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 30px;
}

.uploadButton {

    background: #2563eb;

    color: white;

    border: none;

    padding: .75rem 1.25rem;

    border-radius: 8px;

    cursor: pointer;

    transition: .2s;

    font-weight: 600;
}

.uploadButton:hover {

    background: #1d4ed8;

}


.uploadButton:disabled {
    opacity: 0.5;

    cursor: not-allowed;
}